.header  {
  font-family: monospace;
  background: papayawhip;
  /* JORDAN ADDITIONS */
  display: flex;
  justify-content: space-between;
  margin: 8px;
  /* JORDAN ADDITIONS */
}

/* JORDAN ADDITIONS */
.left-links,
.right-links {
  display: flex;
  align-items: center;
}

.left-links {
  margin-left: 8px;
}

.right-links {
  margin-right: 8px;
}

.header ul {
  display: flex;
  padding: 0px;
}

.left-links li {
  margin-right: 16px;
}

.right-links li {
  margin-left: 16px;
}
/* JORDAN ADDITIONS */

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
/* JORDAN ADDITIONS */
  margin: 8px;
/* JORDAN ADDITIONS */
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}